<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shool-arabic/static/css/css/index.css">
    <script src="https://kit.fontawesome.com/b8a61be976.js" crossorigin="anonymous"></script>
    <title>apprendre arabe</title>
</head>
<body>
    <header>
        <nav class="entete">
            <img src="static/asset/logo/logo.svg" alt="Logo arabe">
            
            <ul>
                <a href="index.html"><i class="fa-solid fa-house-chimney"></i></i> Accueil </a> 
                <a href="se connecter.html"> se connecter</a>
                <a href="inscription"> inscription</a>                 
            </ul>
        </nav>

            
            <input type="text" id="champ recherche" name="kj246">
            
            <div id="imageBanner">
                <img src="static/asset/image/calligraphie_langue_arabe.png" alt="calligraphie_langue_arabe">
            </div>

    </header>
    <main>
      
        
        <section >
            <img src="static/asset/image/style.svg"alt="style">
            <p>
            Savoir lire sans les voyelles et écrire<br> rapidement  
          
            </p>

        </section>
        <section >
            <img src="static/asset/image/discussion1.svg"alt="discussion">
            <p>
                Etre capable de dialoguer <br>en arabe 
            </p>

        </section>
        <section >
            <img src="static/asset/image/open-book1.svg"alt="open book">
            <p>
                Avoir un bon niveau <br>compréhension
            </p>

        </section>
        <section >
            <img src="static/asset/image/puzzle1.svg"alt="pussle">
            <p>
                Avoir des fondations solides en <br>grammaire arabe
            </p>

        </section>
        
    </main>
    <footer>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        
    </footer>
</body>
