<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/css/inscription.css">
    <script src="https://kit.fontawesome.com/b8a61be976.js" crossorigin="anonymous"></script>
   
    <title>apprendre arabe</title>
</head>
<body>
   <div class="container">
        <div class="header">
            <h2>Créer un commpte</h2>
        </div>
        <form class="form">
            <div class="form-control success">
                <label for="">Nom d'utilisateur</label>
                <input type="text" id="username" placeholder="Ronasdev" value="">
                <i class="fa-sharp fa-light fa-check"></i>
                <i class="fa-sharp fa-light fa-exclamation"></i>
                <small class="error">Message d'erreur</small>
            </div>
            <div class="form-control">
                <label for="">Email</label>
                <input type="Email" id="Email"placeholder="ronasdev@gmail.com">
                <i class="fa-sharp fa-light fa-exclamation"></i>
                <i class="fa-sharp fa-check-circle"></i>
                <small class="error">Message d'erreur</small>
                
            </div>
            <div class="form-control">
                <label for="">Mot de passe</label>
                <input type="password" id="password"placeholder="Ronasdev">
                <i class="fa-sharp fa-light fa-check"></i>
                <i class="fa-sharp fa-light fa-exclamation"></i>
                <small class="error">Message d'erreur</small>
            </div>
            <div class="form-control">
                <label for="">Confirmation du mot de passe</label>
                <input type="password" id="password2"placeholder="Ronasdev">
                <i class="fa-sharp fa-light fa-check"></i>
                <i class="fa-sharp fa-light fa-exclamation"></i>
                <small class="error">Message d'erreur</small>
            </div>
            <button type="button" id="register"><i class="fas fa user-plus"></i>S'inscrire</button>
        </form>   
    </div>   
   <script src="../js/inscription.js"></script>  
</body>
</html>