<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/css/inscription.css">
        <script src="https://kit.fontawesome.com/b8a61be976.js" crossorigin="anonymous"></script>
        <title>apprendre arabe</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>connecter</h2>
            </div>
            <form class="form">
                <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" id="Email"placeholder="ronasdev@gmail.com">
                    <small>email oublié</small>
                </div>
                <div class="form-control">
                    <label for=""> mot de passe</label>
                    <input type="password" id="password"placeholder="Ronasdev">
                    <small>Mot de passe oublié</small>
                </div>
                <button type="button" id="register"><i class="fas fa user-plus"></i>container</button>
            </form>
        </div>

        <script src="/static/js/se connecter.js"></script>  
    </body>
</html>